body {
    font-family: "Montserrat",sans-serif;
    background-color: rgb(251, 248, 251);
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid rgb(208, 200, 208);
    background-color: rgb(246, 227, 246);
}

.header-container {
    display: flex;
    align-items: center;
    width: 1158px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
}
.logo {
    font-weight: 1000;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgb(86, 50, 86);
    margin-right: 76px;
    text-transform: capitalize;
}

.logo-header {
    padding: 24px 0;
}

.header-link {
    color: rgb(136, 6, 136);
    padding: 24px 0;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    align-items: center;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-address-link {
    display: block;
    padding: 24px 0;
}



